<div class="header">
  <h1>View Student</h1>
  <button mat-button class="btn-primary" (click)="goBackClick()">
    Go Back
  </button>
</div>
<div *ngIf="student$ | async as student">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ student.fullName }}</mat-card-title>
      <mat-card-subtitle>({{ student.age }} years old)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ student.email }}</p>
      <p>{{ student.phone }}</p>
    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button color="warn" (click)="deleteStudentItem(student.id)">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
