.form-container {
    margin: 1rem auto;
    padding: 2rem;
    max-width: 40rem;
    background-color: var(--white);
    .heading {
        padding: 0 1rem;
        h1 {
            font-size: 1.5rem;
            margin: 0;
            color: var(--primary);
            text-decoration: underline;
        }
    }
    form {
        padding: 1rem;
        .form-group {
            mat-label {
                font-size: 0.85rem;
                color: var(--grey);
            }
            mat-form-field {
                width: 100%;
                .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
                    color: var(--black);
                }
            }
            .invalid-feedback {
                background-color: var(--redlight);
                padding: 0.25rem 0.5rem;
                border-radius: 8px;
                p {
                    margin: 0;
                    color: var(--red);
                }
            }

            &.form-actions {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                button {
                    width: 100%;
                    margin: 1rem;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
